/*=============== ROOT SETTINGS ===============*/
:root {
  /* =========== Colors ============ */
  --bg-color-dark: #000000;
  --color-light-dark: #222222;
  --white-color: #ffffff;
  --bg-green-color: #108564;
  --bg-green-dark-color: #13535a;
  /*========== Font and typography ==========*/
  --body-font:  'Inter', sans-serif;
  --title-font: 'Comfortaa', cursive;
  /*========== Font weight ==========*/
  --font-light: 300;
  --font-regular: 400;
  --font-bold: 700;
  /*=============== Padding and margin ===============*/
  --side-padding: 20px;
  --mt: 100px;
  --mb: 15px;
  /*=============== Animation ===============*/
  --transiion-time: all 0.5s;
}

/*=============== BASE ===============*/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: var(--body-font);
  font-weight: var(--font-regular);
  font-size: 20px;
  line-height: 40px;
  background-color: var(--color-light-dark);
  color: var(--white-color);
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  overflow-x: hidden;
  position: relative;
}

body.lock {
  overflow-y: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--white-color);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

img, video {
  max-width: 100%;
  height: auto;
}

button, input {
  border: none;
}

button {
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

button span {
  position: relative;
  z-index: 10;
}

button:focus {
  outline: none;
}

button:before {
  content: '';
  position: absolute;
  top: var(--y);
  left: var(--x);
  width: 0px;
  height: 0px;
  border-radius: 50%;
  background-color: var(--white-color);
  -webkit-transition: width 0.5s, height 0.5s;
  transition: width 0.5s, height 0.5s;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
}

button:hover:before {
  width: 200px;
  height: 200px;
  -webkit-animation: scale 0.5s ease-out;
          animation: scale 0.5s ease-out;
}

@-webkit-keyframes scale {
  to {
    -webkit-transform: translate(-50%, -50%) scale(3);
            transform: translate(-50%, -50%) scale(3);
    opacity: 0;
  }
}

@keyframes scale {
  to {
    -webkit-transform: translate(-50%, -50%) scale(3);
            transform: translate(-50%, -50%) scale(3);
    opacity: 0;
  }
}

input {
  outline: none;
}

.main {
  overflow-x: hidden;
}

.section {
  margin-top: 30px;
}

.container {
  width: 100%;
  max-width: 1480px;
  margin: 0 auto;
  padding-right: var(--side-padding);
  padding-left: var(--side-padding);
}

.btn {
  width: 200px;
  -webkit-transition: var(--transiion-time);
  transition: var(--transiion-time);
  border-radius: 10px;
  background-color: var(--color-light-dark);
  color: var(--white-color);
  text-transform: uppercase;
  font-size: 24px;
  margin: 16px 0;
  display: block;
  padding: 10px 16px;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-box-shadow: 2px 2px 6px var(--white-color);
          box-shadow: 2px 2px 6px var(--white-color);
}

.btn:hover {
  color: var(--bg-green-color);
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-box-shadow: none;
          box-shadow: none;
}

/*=============== GREETING POPUP ===============*/
.greet {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  visibility: visible;
  z-index: 10;
  -webkit-transition: var(--transiion-time);
  transition: var(--transiion-time);
}

.greet--hide {
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  visibility: hidden;
  opacity: 0;
}

.greet span {
  color: var(--color-light-dark);
}

.greet::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.greet__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 auto;
  background-color: var(--bg-green-color);
  width: 300px;
  height: 70vh;
  border-radius: 10px;
  -webkit-transition: var(--transiion-time);
  transition: var(--transiion-time);
  position: relative;
  padding: 10px;
  -webkit-box-shadow: 1px 1px 8px 4px rgba(255, 255, 255, 0.25);
          box-shadow: 1px 1px 8px 4px rgba(255, 255, 255, 0.25);
}

@media screen and (max-width: 768px) {
  .greet__inner {
    width: 260px;
  }
}

.greet__start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: var(--transiion-time);
  transition: var(--transiion-time);
  -webkit-transform: scale(1);
          transform: scale(1);
  visibility: visible;
  opacity: 1;
}

.greet__start--hide {
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  visibility: hidden;
}

.greet__descr {
  font-size: 14px;
  text-decoration: underline;
}

.greet__players {
  position: absolute;
  bottom: -0px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: var(--transiion-time);
  transition: var(--transiion-time);
}

.greet__players span {
  font-size: 14px;
  margin: -10px;
}

.greet__players--show {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  visibility: visible;
}

/*=============== WINNER POPUP ===============*/
.winner {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  opacity: 0;
  visibility: hidden;
  z-index: 10;
  -webkit-transition: var(--transiion-time);
  transition: var(--transiion-time);
}

.winner--show {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  visibility: visible;
}

.winner::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.winner__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  margin: 0 auto;
  background-color: var(--bg-green-color);
  width: 280px;
  height: 70vh;
  border-radius: 10px;
  -webkit-transition: var(--transiion-time);
  transition: var(--transiion-time);
  position: relative;
  padding: 10px;
  -webkit-box-shadow: 1px 1px 8px 4px rgba(255, 255, 255, 0.25);
          box-shadow: 1px 1px 8px 4px rgba(255, 255, 255, 0.25);
}

.winner__text {
  color: var(--color-light-dark);
}

.winner__btn {
  width: 80%;
}

.winner__btn span {
  display: block;
}

/*=============== ICONS ===============*/
svg {
  width: 150px;
  height: 150px;
  position: relative;
}

rect {
  width: 100%;
  height: 6px;
  stroke-width: 8px;
}

.cross {
  fill: var(--white-color);
  width: 0;
  -webkit-animation: drawWidth 0.4s linear forwards;
          animation: drawWidth 0.4s linear forwards;
}

.cross-1 {
  -webkit-transform: translate(25%, 20%) rotate(45deg);
          transform: translate(25%, 20%) rotate(45deg);
}

.cross-2 {
  -webkit-transform: translate(20%, 90%) rotate(-45deg);
          transform: translate(20%, 90%) rotate(-45deg);
}

@-webkit-keyframes drawWidth {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes drawWidth {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.circle {
  --circle-len: 320px;
  fill: none;
  stroke: #F9463D;
  stroke-width: 8px;
  stroke-dasharray: var(--circle-len);
  stroke-dashoffset: var(--circle-len);
  -webkit-animation: draw .4s linear forwards;
          animation: draw .4s linear forwards;
  -webkit-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
}

@-webkit-keyframes draw {
  to {
    stroke-dashoffset: 0px;
  }
}

@keyframes draw {
  to {
    stroke-dashoffset: 0px;
  }
}

/*=============== HEADER ===============*/
.intro__title {
  text-align: center;
  padding-top: clamp(20px, calc(40 / 1480 * 100vw), 40px);
  padding-bottom: clamp(20px, calc(40 / 1480 * 100vw), 40px);
  font-size: clamp(20px, calc(40 / 1480 * 100vw), 40px);
}

/*=============== MAIN ===============*/
.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 60px;
}

@media screen and (max-width: 767px) {
  .main {
    gap: 30px;
  }
}

.board__inner {
  width: 100%;
  max-width: 600px;
  min-height: 600px;
  background-color: var(--color-light-dark);
  margin: 50px 0;
  border-radius: 10px;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

@media screen and (max-width: 767px) {
  .board__inner {
    max-width: 300px;
    min-height: 300px;
    -ms-grid-columns: (minmax(100px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
}

.board__sqr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 200px;
  min-height: 200px;
  padding: 15px;
  border: 1px solid var(--white-color);
}

@media screen and (max-width: 767px) {
  .board__sqr {
    min-width: 100px;
    min-height: 100px;
  }
}

.board__sqr-0, .board__sqr-1, .board__sqr-2 {
  border-top: none;
}

.board__sqr-0, .board__sqr-3, .board__sqr-6 {
  border-left: none;
}

.board__sqr-6, .board__sqr-7, .board__sqr-8 {
  border-bottom: none;
}

.board__sqr-2, .board__sqr-5, .board__sqr-8 {
  border-right: none;
}

.score {
  width: 100%;
  max-width: 300px;
  min-height: 300px;
  max-height: 600px;
  margin: 50px 0;
  padding: 10px;
  text-align: center;
  border: 2px solid var(--white-color);
  border-radius: 10px;
  overflow-y: scroll;
}

.score__title {
  font-size: clamp(20px, calc(24 / 1480 * 100vw), 24px);
  background-color: var(--bg-green-color);
  border-radius: 6px;
}

.score__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
}

.score__inner span:not(:last-child) {
  -webkit-box-shadow: 0 4px 2px -2px;
          box-shadow: 0 4px 2px -2px;
}

/*=============== FOOTER ===============*/
.footer {
  background-color: var(--bg-green-color);
}

.footer__inner {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__copyright {
  width: 185px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__my-github {
  margin-right: 18px;
}

.footer__links {
  width: 188px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer a:hover {
  color: var(--bg-color-dark);
}

.footer__link svg {
  width: 32px;
  height: 32px;
  fill: var(--color-light-dark);
}

.footer__link-item svg {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.footer__link-item svg:hover {
  fill: var(--color-light-dark);
}

@media screen and (max-width: 768px) {
  .footer__inner {
    height: 170px;
    max-width: 210px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    padding: 15px 0;
  }
}
/*# sourceMappingURL=style.css.map */