/*=============== ROOT SETTINGS ===============*/
:root {
  /* =========== Colors ============ */
  --bg-color-dark: #000000;
  --color-light-dark: #222222;
  --white-color: #ffffff;
  --bg-green-color: #108564;
  --bg-green-dark-color: #13535a;

  /*========== Font and typography ==========*/
  --body-font:  'Inter', sans-serif;
  --title-font: 'Comfortaa', cursive;
  /*========== Font weight ==========*/
  --font-light: 300;
  --font-regular: 400;
  --font-bold: 700;
  /*=============== Padding and margin ===============*/
  --side-padding: 20px;
  --mt: 100px;
  --mb: 15px;
  /*=============== Animation ===============*/
  --transiion-time: all 0.5s;
}
/*=============== BASE ===============*/
*,
*:before,
*:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: var(--body-font);
    font-weight: var(--font-regular);
    font-size: 20px;
    line-height: 40px;
    background-color: var(--color-light-dark);
    color: var(--white-color);
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    overflow-x: hidden;
    position: relative;
}
body.lock {
  overflow-y: hidden;
}
ul {
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--white-color);
    transition: all 0.3s;
}
img, video {
    max-width: 100%;
    height: auto;
}
button, input {
    border: none;
}
button {
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
button span {
  position: relative;
  z-index: 10;
}
button:focus {
  outline: none;
}
button:before {
  content: '';
  position: absolute;
  top: var(--y);
  left: var(--x);
  width: 0px;
  height: 0px;
  border-radius: 50%;
  background-color: var(--white-color);
  transition: width 0.5s, height 0.5s;
  transform: translate(-50%, -50%) scale(0);
}
button:hover:before {
  width: 200px;
  height: 200px;
  animation: scale 0.5s ease-out;
}

@keyframes scale {
  to {
    transform: translate(-50%, -50%) scale(3);
    opacity: 0;
  }
}

input {
    outline: none;
}

.main {
    overflow-x: hidden;
}
.section {
  margin-top: 30px;
}
.container {
  width: 100%;
  max-width: 1480px;
  margin: 0 auto;
  padding-right: var(--side-padding);
  padding-left: var(--side-padding);
}
.btn {
  width: 200px;
  transition: var(--transiion-time);
  border-radius: 10px;
  background-color: var(--color-light-dark);
  color: var(--white-color);
  text-transform: uppercase;
  font-size: 24px;
  margin: 16px 0;
  display: block;
  padding: 10px 16px;
  transform: translateY(-2px);
  box-shadow: 2px 2px 6px var(--white-color);
  &:hover {
    color: var(--bg-green-color);
    transform: translateY(0px);
    box-shadow: none;
  }
  @media screen and (max-width: 767px) {
    font-size: 20px;
  }
}
/*=============== GREETING POPUP ===============*/
.greet {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  visibility: visible;
  z-index: 10;
  transition: var(--transiion-time);
  &--hide {
    transform: translate(-50%, -50%) scale(0);
    visibility: hidden;
    opacity: 0;
  }
  span {
    color: var(--color-light-dark);
  }
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000, $alpha: 0.6);
    z-index: -1;
  }
  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto;
    background-color: var(--bg-green-color);
    width: 300px;
    height: 70vh;
    border-radius: 10px;
    transition: var(--transiion-time);
    position: relative;
    padding: 10px;
    box-shadow: 1px 1px 8px 4px rgba($color: #fff, $alpha: .25);
    @media screen and (max-width: 768px) {
      width: 260px;
    }
  }
  &__start {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: var(--transiion-time);
    transform: scale(1);
    visibility: visible;
    opacity: 1;
  }
  &__start--hide {
    opacity: 0;
    transform: scale(0);
    visibility: hidden;
  }
  &__descr {
    font-size: 14px;
    text-decoration: underline;
  }
  &__players {
    position: absolute;
    bottom: -0px;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    visibility: hidden;
    transition: var(--transiion-time);
    span {
      font-size: 14px;
      margin: -10px;
    }
  }
  &__players--show {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    visibility: visible;
  }
}
/*=============== WINNER POPUP ===============*/
.winner {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  opacity: 0;
  visibility: hidden;
  z-index: 10;
  transition: var(--transiion-time);
  &--show {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    visibility: visible;
  }
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000, $alpha: 0.6);
    z-index: -1;
  }
  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 0 auto;
    background-color: var(--bg-green-color);
    width: 280px;
    height: 70vh;
    border-radius: 10px;
    transition: var(--transiion-time);
    position: relative;
    padding: 10px;
    box-shadow: 1px 1px 8px 4px rgba($color: #fff, $alpha: .25);
  }
  &__text {
    color: var(--color-light-dark);
  }
  &__btn {
    width: 80%;
    span {
      display: block;
    }
  }
}
/*=============== ICONS ===============*/
svg {
  width: 150px;
  height: 150px;
  position: relative;
  @media screen and (max-width: 767px) {
    width: 60px;
    height: 60px;
  }
}
// RECTANGLES
rect {
  width: 100%;
  height: 6px;
	stroke-width: 8px;
}
.cross {
  fill: var(--white-color);
  width: 0;
  animation: drawWidth 0.4s linear forwards;
}
.cross-1 {
  transform: translate(25%, 20%) rotate(45deg);
}
.cross-2 {
  transform: translate(20%, 90%) rotate(-45deg);
}

@keyframes drawWidth {
  from {
    width: 0
  }
  to {
    width: 100%;
  }
}
// CIRCLES
.circle {
	--circle-len: 320px;
	fill: none;
	stroke: #F9463D;
	stroke-width: 8px;
	stroke-dasharray: var(--circle-len);
	stroke-dashoffset: var(--circle-len);
	animation: draw .4s linear forwards;
  transform: translate(50%, 50%);
}

@keyframes draw {
	to { stroke-dashoffset: 0px; }
}
/*=============== HEADER ===============*/
.intro__title {
  text-align: center;
  padding-top: clamp(20px, calc(40 / 1480 * 100vw), 40px);
  padding-bottom: clamp(20px, calc(40 / 1480 * 100vw), 40px);
  font-size: clamp(20px, calc(40 / 1480 * 100vw), 40px);;
}
/*=============== MAIN ===============*/
.main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 60px;
  @media screen and (max-width: 767px) {
    gap: 30px;
  }
}
// Board
.board {
  &__inner {
    width: 100%;
    max-width: 600px;
    min-height: 600px;
    background-color: var(--color-light-dark);
    margin: 50px 0;
    border-radius: 10px;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    @media screen and (max-width: 767px) {
      max-width: 300px;
      min-height: 300px;
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));      
    }
  }
  &__sqr {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    min-height: 200px;
    padding: 15px;
    border: 1px solid var(--white-color);
    @media screen and (max-width: 767px) {
      min-width: 100px;
      min-height: 100px;
    }
  }
  &__sqr-0,
  &__sqr-1,
  &__sqr-2 {
    border-top: none;
  }
  &__sqr-0,
  &__sqr-3,
  &__sqr-6 {
    border-left: none;
  }
  &__sqr-6,
  &__sqr-7,
  &__sqr-8 {
    border-bottom: none;
  }
  &__sqr-2,
  &__sqr-5,
  &__sqr-8 {
    border-right: none;
  }
}
// High score
.score {
  width: 100%;
  max-width: 300px;
  min-height: 300px;
  max-height: 600px;
  margin: 50px 0;
  padding: 10px;
  text-align: center;
  border: 2px solid var(--white-color);
  border-radius: 10px;
  overflow-y: scroll;
  &__title {
    font-size: clamp(20px, calc(24 / 1480 * 100vw), 24px);
    background-color: var(--bg-green-color);
    border-radius: 6px;
  }
  &__inner {
    display: flex;
    flex-direction: column;
    text-align: left;
    span:not(:last-child) {
      box-shadow: 0 4px 2px -2px;
    }
  }
}
/*=============== FOOTER ===============*/
.footer {
  background-color: var(--bg-green-color);
}
.footer__inner {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer__copyright {
  width: 185px;
  display: flex;
  justify-content: space-between;
}
.footer__my-github {
  margin-right: 18px;
}
.footer__links {
  width: 188px;
  display: flex;
  justify-content: space-between;
}
.footer__link {
  display: flex;
  align-items: center;
}
.footer a:hover {
  color: var(--bg-color-dark);
}
.footer__link svg {
  width: 32px;
  height: 32px;
  fill: var(--color-light-dark);
}
.footer__link-item svg {
  transition: all 0.5s;
}
.footer__link-item svg:hover {
  fill: var(--color-light-dark);
}
@media screen and (max-width: 768px) {
  .footer__inner {
    height: 170px;
    max-width: 210px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 15px 0;
  }
}